name: deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: install system dependencies
      run: |
        sudo apt update
        sudo apt install software-properties-common
        sudo apt-add-repository --yes --update ppa:ansible/ansible
        sudo apt install ansible

    - name: set up python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible-lint

    - name: ansible-lint
      run: ansible-lint provision.yml

    - name: prepare ssh key
      if: github.ref == 'refs/heads/main'
      env:
        SSH_PRIVATE_KEY: "${{ secrets.SSH_PRIVATE_KEY }}"
      run: |
        echo "$SSH_PRIVATE_KEY" > key.pem
        chmod 600 key.pem

    - name: prepare ssl files
      if: github.ref == 'refs/heads/main'
      env:
        SSL_CRT: "${{ secrets.SSL_CRT }}"
        SSL_KEY: "${{ secrets.SSL_KEY }}"
      run: |
        echo "$SSL_CRT" > "*.qiime2.org.chained.crt"
        echo "$SSL_KEY" > "*.qiime2.org.key"

    - name: provision server(s)
      if: github.ref == 'refs/heads/main'
      env:
        FTP_USER_NAME: "${{ secrets.FTP_USER_NAME }}"
        FTP_USER_PASS: "${{ secrets.FTP_USER_PASS }}"
        FTP_USER_HOME: "${{ secrets.FTP_USER_HOME }}"
      run: |
        ansible-playbook \
        -i inventory.yml \
        --private-key=key.pem \
        -u ubuntu \
        --become \
        -e FTP_USER_NAME=$FTP_USER_NAME \
        -e FTP_USER_PASS=$FTP_USER_PASS \
        -e FTP_USER_HOME=$FTP_USER_HOME \
        provision.yml
